.header {
	width: 100%;
	height: 50px;
	background-color: #444444;
	border-top: 2px solid dodgerblue;
	border-bottom: 2px solid dodgerblue;
	position: relative;
	
}

html {
	margin: 0;
	outline: none;
	border: none;
	background-color: #00804C;
	overflow: auto;
}

body {
	margin: 0;
	outline: none;
	border: none;
	text-align: center;
	perspective: 1000px;
	-moz-perspective: 1000px;
	-webkit-perspective: 1000px;
}

#title {
	position:absolute;
    top: 14%;    
    left: 15px;
	font-size: 30px;
	color: white;
	font-family: monospace;
	z-index: 1000;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


.tab {
	height: 0%;
	background-color: white;
	width: 60px;
	position: absolute;
	cursor: pointer; cursor: hand;
	display: inline-block;
}

.hiddentab {
	height: 100%;
	background-color: none;
	width: 60px;
	position: absolute;
	cursor: pointer; cursor: hand;
	display: inline-block;
}

.infodiv {
	height: 75%;
	width: 100%;
	position: relative;
	top: 30%;
}

.infopicture {
	height: 75%;
	width: 95%;
	border: 1px solid black;
}

.userinfo {
	color: lightgray;
	font-weight: bold;
	font-family: monospace;
	font-size: 12.5px;
	right: 50px;
	margin-top: 15px;
	position: absolute;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.home {
	width: 30%;
	height: 50%;
	border: 2px solid #ccc;
	background: rgb(48, 48, 48);
	outline: 0;
	padding: 10px 10px 20px;
 	position: absolute;
	margin-top: 25px;
	color: white;
	font-size: 25px;
	font-family: monospace;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#lefthome {
	-webkit-transform: translateX(-130%);
	transform: translateX(-130%);
}

#righthome {
	-webkit-transform: translateX(330%);
	transform: translateX(330%);
}

#leftlarge {
	overflow: auto;
	transform: translateX(-130%) translateY(15%); -webkit-transform: translateX(-130%) translateY(15%);
	height: 600px;
}

#rightlarge {
	overflow: auto;
	transform: translateX(330%) translateY(15%); -webkit-transform: translateX(330%) translateY(15%);
	height: 600px;
}


#T1 {
	left: 400px;
}

#T2 {
	left: 475px;
}

#T3 {
	left: 550px;
}

#T4 {
	left: 625px;
}

#T5 {
	left: 700px;
}

#T6 {
	left: 775px;
}

.hiddentab > h1 {
	position: relative;
	margin-top: 15px;
	font-size: 15px;
	font-family: monospace;
	color: dodgerblue;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.infodiv > h3 {
	font-size: 20px;
	font-family: monospace;
}

.infodiv > p {
	font-size: 14px;
	font-family: monospace;
	
}

p > a {
	text-decoration: none;
	color: darkgray;
}

.userinfo:hover {
	cursor: pointer;
	text-decoration: underline;
}

.infopicture:hover {
	cursor: pointer;
	border: 1px solid white;
}
